@use 'src/styles/vars.scss' as vars;

.wrapper {
  align-items: center;
  background-color: vars.$bg;
  color: vars.$white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 2rem;

  .page {
    display: grid;
    flex-grow: 1;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    // height: 100%;
    justify-items: center;
    overflow-y: scroll;
    padding: 2rem;
    width: 100%;

    @media screen and (width <= 768px) {
      grid-template-columns: 1fr;
    }

    .container {
      background-color: vars.$bg;
      border: 2px solid vars.$border;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      width: 100%;

      .header {
        border-bottom: 2px solid vars.$border;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;

        .toggle {
          display: flex;
          gap: 0.5rem;
          @media screen and (width > 768px) {
            display: none;
          }

          .toggleBtn {
            align-items: center;
            background-color: vars.$bg;
            border: 1px solid vars.$border;
            border-radius: 4px;
            color: vars.$white;

            cursor: pointer;
            display: flex;
            gap: 1rem;
            transition: 0.3s ease-in-out;

            &[data-active='true'] {
              background-color: vars.$primary;
              color: vars.$white;
            }
          }
        }
      }

      > :nth-child(2) {
        flex-grow: 1;
      }

      &[data-active='false'] {
        @media screen and (width <= 768px) {
          display: none;
        }
      }
    }

    .editor {
      background-color: vars.$bg;
      border: none;
      // border-radius: 8px;
      color: vars.$white;

      font-size: 1em;
      padding: 1rem;
      transition: 0.2s ease-in-out;
      width: 100%;

      &:focus {
        border-color: rgb(45, 154, 237);
      }
    }

    .preview {
      background-color: vars.$bg;
      border-radius: 8px;
      color: vars.$white;
      height: 0;
      margin: 0 auto;
      max-height: 100%;
      overflow-y: scroll;
      padding: 1rem;
      width: 75%;

      hr {
        border-top: 1px solid vars.$border;
        margin-bottom: 1rem;
        width: 80%;
      }

      a {
        color: #2b7de1;
      }

      code {
        background-color: vars.$bg-2;
        border-radius: 4px;
        color: #ffa500;
        padding: 4px;
        width: 100%;
      }
    }
  }
}
