@use 'src/styles/vars.scss' as vars;

.page {
  background-color: vars.$bg;

  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  justify-items: center;
  padding: 2rem;
  position: fixed;
  width: 100vw;

  .container {
    background-color: vars.$bg;
    border: 2px solid vars.$border;
    border-radius: 8px;
    color: vars.$primary;
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
      border-bottom: 2px solid vars.$border;
      padding: 0.5rem 1rem;
    }

    > :nth-child(2) {
      flex-grow: 1;
    }
  }

  .editor {
    background-color: vars.$bg;
    border: none;
    // border-radius: 8px;
    color: vars.$primary;
    padding: 1rem;
    transition: 0.2s ease-in-out;
    width: 100%;

    &:focus {
      border-color: rgb(45, 154, 237);
    }
  }

  .preview {
    background-color: vars.$bg;
    border-radius: 8px;
    color: #fff;
    margin: 0 auto;
    padding: 1rem;
    width: 75%;

    hr {
      border-top: 1px solid vars.$border;
      margin-bottom: 1rem;
      width: 80%;
    }

    a {
      color: rgb(43, 125, 225);
    }

    code {
      background-color: vars.$bg-2;
      border-radius: 4px;
      color: #ffa500;
      padding: 4px;
      width: 100%;
    }
  }
}
